@model MyFirstAddInWeb.Models.Customer1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainContactperson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainContactperson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastContacted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastContacted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastOrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastOrderDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
